<div class="four column centered row">
    <div class="column">
        <div class="subContainer">
            <h2>{{player}}</h2>
        </div>
    </div>
</div>
<div class="two column centered row">
    <div class="column">
        <div class="subContainer">
            <h1>Score: <span>{{total}}</span></h1>
        </div>
    </div>
</div>
<div class="four column centered row background">
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>{{card1}}</h1>
        </div>
    </div>
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>{{card2}}</h1>
        </div>
    </div>
    <div class="column">
        <div class="subContainer cardContainer">
            <h1>{{card3}}</h1>
        </div>
    </div>
</div>
<div class="six column centered row">
    <div class="column">
        <div class="subContainer">
            <form action="/deal/{{id}}" method="POST">
                <input class="fluid ui secondary button massive" type="submit" name="delete" value="draw">
            </form>
        </div>
    </div>
    <div class="column">
        <div class="subContainer">
            <a href="{{nextPage}}" class="fluid ui red button massive">Done</a>
        </div>
    </div>
</div>